<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - SocialMediaApp</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

	@* <link rel="stylesheet" href="~/SocialMediaApp.styles.css" asp-append-version="true" /> *@
</head>
<body>
	<header class="top-bar">
		<div class="top-bar-left">
			<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
				<i class="bi bi-people-fill text-primary me-2"></i>
			</a>
			<div class="search-bar">
				<i class="bi bi-search"></i>
				<input type="text" placeholder="Search SocialMediaApp">
			</div>
		</div>
		<div class="top-bar-center">
			<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-house-door-fill"></i></a>
		</div>
		<div class="top-bar-right">
			<partial name="_LoginPartial" />
		</div>
	</header>

	<div class="main-body">
		<div class="left-sidebar">
			<partial name="_LeftSidebar" />
		</div>
		<main role="main" class="pb-3 main-content">
			@RenderBody()
		</main>
		<div class="right-sidebar">
			<partial name="_RightSidebar" />
		</div>
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.7/signalr.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/js/notification.js" asp-append-version="true"></script>
	<script src="~/js/post.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>

